<div class="col-xs-4">
  <div class="card card-inverse card-info text-xs-center">
    <%=image_tag(product.image, class: "card-image img-fluid") %>
    <div class="card-block">
      <h4 class="card-title"><%= product.name %></h4>
      <p class="card-text"><%=product.description %></p>
        <%= form_for order_item, remote: true do |f| %>
          <%= f.number_field :quantity, value: order_item.quantity.to_i, class: "form-control", min: 1, max: 10 %>
          <%= f.hidden_field :product_id, value: product.id %>
          <%= f.submit "Update Quantity", class: "btn btn-primary" %>     
          <%= link_to order_item, { data: { confirm: "Are you sure you wish to delete the product '#{order_item.product.name}' from your cart?" }, method: :delete, remote: true, class: "btn btn-danger" } do %>
            <i class="fa fa-trash-o" aria-hidden="true"></i>
            <%= "Remove" %>
          <% end %>
        <% end %>
      <h4 class="card-text">Unit Price: <span style="color: green"><%= number_to_currency order_item.unit_price %></span></h4>
      <h4 class="card-text">Total: <span style="color: green"><%= number_to_currency order_item.total_price %></span></h4>
    </div>
  </div>
</div>